@page
@model Web.Pages.Network.PhotoPosts.IndexModel

@{
    ViewData["Title"] = "Photos";
}

<header class="jumbotron">
    <h1>PostBook Photos</h1>
</header>

<p>
    <a class="btn btn-success" asp-action="Create">Add Photo</a>
    
    <a class="btn btn-info"
       asp-action="Index" 
       asp-controller="MessagePosts">
        View Messages
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                PostId
            </th>
            <th>
                Author
            </th>
            <th>
                Filename
            </th>
            <th>
                Caption
            </th>
            <th>
                Timestamp
            </th>
            <th>
                Likes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PhotoPost) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Filename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Caption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Likes)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-success"
                   asp-route-id="@item.PostId">Edit</a>
                <a asp-action="Details" class="btn btn-info"
                   asp-route-id="@item.PostId">Details</a>
                <a asp-action="Delete" class="btn btn-danger"
                   asp-route-id="@item.PostId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>