@model ConsoleAppProject.App02.BMICalculator
@using ConsoleAppProject.App02
@{
    ViewData["Title"] = "BMI Calculator";
}

<header class="jumbotron">
    <h1>BMI Calculator</h1>
    <h2>By Samuel Baker</h2>
    <p>
        This Application will use your height and weight to calculate 
        a BMI Index to enable you to classify your health risks 
    </p>
</header>
<section>
    <form method="post">
        <h2>Height</h2>
        <p>
            Please enter your current height in whole numbers,
            using imperial or metric units
        </p>
        <p>
            <h3>Imperial Units</h3>
            <input type="number" placeholder="Feet" value="6" asp-for="@Model.Feet" />
            <input type="number" placeholder="Inches" value="5" asp-for="@Model.Inches" />
        </p>
        <p>
            <h3>Metric Units</h3>
            <input type="number" placeholder="Centimetres" 
            asp-for="@Model.Centimetres" />
        </p>

        <h2>Weight</h2>
        <p>
            Please enter your current weight in whole numbers,
            using imperial or metric units
        </p>
        <p>
            <h3>Imperial Units</h3>
            <input type="number" placeholder="Stones" value="12" asp-for="@Model.Stones" />
            <input type="number" placeholder="Pounds" value="10" asp-for="@Model.Pounds" />
        </p>
        <p>
            <h3>Metric Units</h3>
            <input type="number" placeholder="Kilograms" asp-for="@Model.Kilograms" />
        </p>
        <p>
            <button class="btn btn-success" type="submit">Calculate</button>
        </p>
    </form>
</section>
