@page
@model Web.Pages.DistanceConverterModel
@using ConsoleAppProject.App01
@{
}

<header class="jumbotron">
    <h1>Distance Converter</h1>
    <h2>by Samuel Baker</h2>
</header>

<section>
    <form class="form-group border-dark" method="post">
        <h4>Please Select a Unit to Convert From</h4>
        <br/>
        <p>
            <select asp-for="App01.fromUnit">
                <option disabled selected>Choose</option>
                <option>@DistanceConverter.CENTIMETRES</option>
                <option>@DistanceConverter.INCHES</option>
                <option>@DistanceConverter.FEET</option>
                <option>@DistanceConverter.METRES</option>
                <option>@DistanceConverter.KILOMETRES</option>
                <option>@DistanceConverter.MILES</option>
            </select>
        </p>

        <h4>Please enter the Distance to Convert From</h4>
        <br/>
        <p>
            <input asp-for="App01.fromDistance" type="text"/>
        </p>

        <h4>Please Select a Unit to Convert To</h4>
        <br/>
        <p>
            <select asp-for="App01.fromUnit">
                <option disabled selected>Choose</option>
                <option>@DistanceConverter.CENTIMETRES</option>
                <option>@DistanceConverter.INCHES</option>
                <option>@DistanceConverter.FEET</option>
                <option>@DistanceConverter.METRES</option>
                <option>@DistanceConverter.KILOMETRES</option>
                <option>@DistanceConverter.MILES</option>
            </select>

            <button class="btn btn-success" type="submit">Calculate</button>
        </p>

        <p class="lead  alert alert-primary">
            @ViewData["Message"]
        </p>

    </form>
</section>