@page
@model Website.Pages.DistanceConverterModel
@using ConsoleAppProject.App01
@{
}

<header class="jumbotron">
    <h1>Distance Converter</h1>
    <h2>by Derek Peacock</h2>
</header>
<section>
    <h3>Select Your Distance Units</h3>
    <br/>
    <form method="post">
        <p>
            <span>From Unit:</span>
            <select asp-for="@Model.App01.fromUnit">
                <option>@DistanceConverter.CENTIMETRES</option>
                <option>@DistanceConverter.INCHES</option>
                <option>@DistanceConverter.FEET</option>
                <option>@DistanceConverter.METRES</option>
                <option>@DistanceConverter.KILOMETRES</option>
                <option>@DistanceConverter.MILES</option>
            </select>
        </p>
        <p>
            <span>To Unit:</span>
            <select asp-for="@Model.App01.toUnit">
                <option>@DistanceConverter.CENTIMETRES</option>
                <option>@DistanceConverter.INCHES</option>
                <option>@DistanceConverter.FEET</option>
                <option>@DistanceConverter.METRES</option>
                <option>@DistanceConverter.KILOMETRES</option>
                <option>@DistanceConverter.MILES</option>
            </select>
        </p>

        <input asp-for="@Model.Distance" type="text" 
               placeholder="Enter your from distance" />

        <input asp-for="@Model.App01.toDistance" type="text" 
               readonly placeholder="To Distance"/>
        <p>
            <button type="submit">Calculate</button>
        </p>
    </form>
</section>