@page
@model AnalyseModel

@{
    ViewData["Title"] = "Grade Analysis";
}

<section>
<h2>Grade Statistics</h2>
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="text-center table-success">
                <th>Number of Students</th>
                <th>Minimum Mark</th>
                <th>Maximum Mark</th>
                <th>Mean Mark</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center">
                <td>@Model.Sum</td>
                <td>@Model.Minimum</td>
                <td>@Model.Maximum</td>
                <td>@Model.Mean.ToString("0.0")</td>
            </tr>
        </tbody>
    </table>
</section>
<section>
<h2>Grade Profile</h2>
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="text-center table-success">
                <th>A</th> 
                <th>B</th>
                <th>C</th>
                <th>D</th>
                <th>F</th>
            </tr>
        </thead>
       <tbody>
            <tr class="text-center">
                <td>@Model.A</td>
                <td>@Model.B</td>
                <td>@Model.C</td>
                <td>@Model.D</td>
                <td>@Model.F</td>
            </tr>
        </tbody>
    </table>
</section>
<section>
    <div class="row align-self-center">
        <div class="card mb-3 text-center" style="margin: 0 auto; display: block;">
            <div class="card-header text-white bg-dark">Grade Profile</div>
                <div class="card-body text-warning">
                    <div id="piechart"></div>
                </div>
            </div>
        </div>
</section>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Grade X', 'Number of Students'],
                ['Grade A', @Model.A],
                ['Grade B', @Model.B],
                ['Grade C', @Model.C],
                ['Grade D', @Model.D],
                ['Grade F', @Model.F]
            ]);
            var options = {
                'backgroundColor': 'transparent', 'width': 600, 'height': 425, };
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }</script>
</section>