@page
@model Web.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.StudentID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Marks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Marks)
        </dd>
    </dl>
</div>
<div>
    <a class ="btn btn-dark" asp-page="./Edit" 
    asp-route-id="@Model.Student.StudentID">Edit</a> |
    <a class ="btn btn-secondary" asp-page="./StudentMarks">Back to List</a>
</div>
