@page
@model Web.Pages.Students.IndexModel

@{
    ViewData["Title"] = "Student Marks";
}
<head>
    <html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
        Model.Count()
            @{
                int F = 0;
                int D = 0;
                int C = 0;
                int B = 0;
                int A = 0;
                int marks = 0;

                foreach(var item in Model)
                {
                    if(item.Mark <= 40)
                    {
                        F++;
                    }
                    else if(item.Mark >= 40)
                    {
                        D++;
                    }
                    else if(item.Mark >= 50)
                    {
                        C++;
                    }
                    else if(item.Mark >= 60)
                    {
                        B++;
                    }
                    else if(item.Mark >= 70)
                    {
                        A += 1;
                    }

                    marks += item.Mark;
                }

                marks = marks / Model.Count();
            }
            }
      function drawChart() 
      {

        var data = google.visualization.arrayToDataTable([
          ['Grades', 'Number of Students'],
          ['F', @F],
          ['D', @D],
          ['C', @C],
          ['B', @B],
          ['A', @A]
        ]);

        var options = 
        {
            title: 'Grade Profile based on @Model.Count() students. Average mark: @marks'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
</head>
<header class="jumbotron">
    <h1>Student Marks</h1>
    <h2>By Samuel Baker</h2>
</header>
<header>
    <p>
        This Application is designed to allow you to Create Students
        and be able to Enter their Marks, Edit their Details and
        Remove Students.
    </p>
</header>
<section>
<p>
    <a class="btn btn-success" asp-page="Create">Add Student</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Marks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Grades)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Student) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grades)
            </td>
            <td>
                <a class="btn btn-dark" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-info" asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</section>
<section>
    <div id="piechart" style="height:900px; height:500px";"></div>
</section>